/* Normal desktop :992px. */

@media (min-width: 992px) and (max-width: 1200px) {
.special-area-text .special-area-title {
  font-size: 55px;
}
    
}
    

/* tablet desktop :768px. */

@media (min-width: 768px) and (max-width: 991px) {
.special-area-text .special-area-title {
  font-size: 45px;
}
.special-area-text p {
  font-size: 14px;
}






}

    
    
/* Small Mobile :320px. */

@media (max-width: 767px) {
.style-bg {
  height: 400px;
  margin-left: 0;
}
.right-side .style-bg {
  margin-right: 0;
}
.special-area-text .special-area-title {
  font-size: 35px;
  margin-bottom: 20px;
  margin-left: 0;
  padding: 0;
}
.special-area-text p {
  font-size: 13px;
}
.style-bg::before {
  left: -15px;
  top: 15px;
}
.right-side .special-area-text .special-area-title {
  margin-right: 0;
}
.right-side a.load-more-btn {
  margin-bottom: 30px;
}


}
    
    
    
/* Large Mobile :480px. */
@media (min-width: 480px) and (max-width: 767px) {


}